<!-- templates/transactions.html -->
{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Transactions</h2>
  <a class="btn btn-success" href="{{ url_for('transaction_bp.add_transaction') }}">+ Add Transaction</a>
</div>

<form class="d-flex mb-3" method="get" action="{{ url_for('transaction_bp.search_transaction') }}">
  <input class="form-control me-2" type="search" name="q" placeholder="Search description" value="{{ q if q else '' }}">
  <button class="btn btn-outline-primary">Search</button>
</form>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
      <th>Student</th>
      <th>Teacher</th>
      <th>Employee</th>
      <th>Amount</th>
      <th>Actions</th>

    
    </tr>
  </thead>
  <tbody>
  {% for t in transactions %}
    <tr>
      <td>{{ t.id }}</td>
      <td>{{ t.date.strftime('%d-%m-%Y') }}</td>
      <td>{{ t.type }}</td>
      <td>{{ t.description or '-' }}</td>
       
      <td>{{ t.student.name if t.student else '-' }}</td>
      
      <td>{{ t.teacher.name if t.teacher else '-' }}</td>

      <td>{{ t.employee.name if t.employee else '-' }}</td>
     <td>{{ t.amount }}</td>
      <td>
        <a class="btn btn-sm btn-warning" href="{{ url_for('edit',kind="transaction", id=t.id) }}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{{ url_for('transaction_bp.delete_transaction', id=t.id) }}" onclick="return confirm('Delete this transaction?')">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
